<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= tabTitle %></title>
</head>
<body>
    <nav>
        <div class="logo">
            <a href="/easypeasy">Home</a>
        </div>
        <div class="navigation">
            <a href="/easypeasy/recipe">All Recipes</a>
            <a href="#">Search Recipes</a>
        </div>
        <div class="user">
            <% if (currentUser) { %>
                <a href="#"><%= currentUser.username %></a>
                <form action="/user/logout?_method=delete" method="post">
                    <input type="submit" value="Log Out">
                </form>
            <% } else { %>
            <a href="/user/login">Login</a>
            <a href="/user/signup">Sign Up</a>
            <% } %>
        </div>
    </nav>
