
<nav>
    <div class="logo"></div>
    <div class="navigation">
        <a href="/recipe">All Recipes</a>
    </div>
    <div class="user">
        <a href="#">Login</a>
        <a href="#">Sign Up</a>
    </div>
</nav>
<header>
    <h1>Easy Peasy</h1>
    <h2>View and share quick, easy and healthy recipes!</h2>
    <div>
        <a href="/recipe">View Recipes</a>
        <a href="/recipe/new">Share Recipes</a>
    </div>
</header>
<main>
    <h2>New Recipes</h2>
    <div class="display"></div>
</main>
<footer>
    <p>Created by Yinmu</p>
    <p>Follow us on social media</p>
</footer>