<%- include('../partials/head.ejs') %>

<h1>Create New Recipe</h1>
<p>At Easy Peasy, we love quick and easy recipes that can be prepared under 60 minutes!</p>
<form action="<%= baseUrl %>" method="post" enctype="multipart/form-data">
    <div>
        <img src= 'https://tso.tastefullysimple.com/_/media/images/recipe-default-image.png' 
            alt="default_image" 
            class="recipe_img_target">
        <label for="img">Upload Image</label>
        <input type="file" name="img" id="img">
    </div>

    <div>
        <label for="title">Title</label>
        <input type="text" name="title" id="title" required>
    </div>

    <div>
        <label for="description">Description</label>
        <input type="textarea" name="description" id="description">
    </div>

    <div>
        <label for="serves">Serves</label>
        <input type="number" name="serves" id="serves" min="1" required>
    </div>

    <div>
        <label for="cookTime">Cook time</label>
        <input type="number" name="cookTime" id="cookTime" min="1" max="60" required>
        <label for="cookTime">mins</label>
    </div>

    <div class="ingredients">
        <label for="ingredients">Ingredients</label>
        <input type="textarea" name="ingredients" id="ingredients">
        <img src="https://i.pinimg.com/474x/46/a7/54/46a7543e3c15128e31050dfd0278e6c3.jpg" 
                alt="plus_sign" 
                class="multi-ingredients" 
                width="30">
    </div> 

    <div class="methods">
        <label for="methods">Methods</label>
        <input type="textarea" name="methods" id="methods">
        <img src="https://i.pinimg.com/474x/46/a7/54/46a7543e3c15128e31050dfd0278e6c3.jpg" 
                alt="plus_sign" 
                class="multi-methods" 
                width="30">
    </div>
    
    <input type="submit" value="Create">
</form>

<%- include('../partials/footer.ejs') %>
